{
  "presets": [["env", { "modules": false }], "stage-2"],
  "plugins": [
    "jsx-v-model",
    "transform-vue-jsx",
    "transform-runtime",
    "syntax-dynamic-import"
    // [
    //   "component",
    //   {
    //     "libraryName": "element-ui",
    //     "styleLibraryName": "~theme"
    //   }
    // ]
  ],
  "env": {
    "development": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
