/* 改变主题色变量 */
$--color-primary: #bb0a30;

$--color-success: #52c41a !default;
$--color-warning: #faad14 !default;
$--color-danger: #f5222d !default;
$--color-info: #909399 !default;

$--font-size-base: 14px !default;

$--color-text-primary: rgba(0, 0, 0, 0.65) !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;

$--border-color-base: #d9d9d9 !default;
$--border-color-light: #d9d9d9 !default;
$--border-color-lighter: #e4e7ed !default;
$--border-radius-base: 4px !default;

$--background-color-base: #f2f2f2 !default;
$--table-border-color: #d9d9d9 !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';
