#app .sidebar {
  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
  }

  .el-submenu {
    & [class^='el-icon-'],
    & [class^='iconfont icon-'] {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 24px;
      text-align: center;
      font-size: 18px;
    }
  }

  .el-submenu .el-submenu__title {
    &:hover {
      background-color: @menuHover !important;
    }
  }

  .el-submenu .el-menu-item {
    background-color: @subMenuBg !important;
    &:hover {
      background-color: @subMenuHover !important;
    }
  }

  .side-menu .is-active > .el-submenu__title {
    color: @subMenuActiveText !important;
    i {
      color: @subMenuActiveText !important;
    }
  }
}
