// 主文本色
@textColor: rgba(0, 0, 0, 0.65);

// 文本大小
@textSize: 14px;

// 主要色
@primaryColor: #1890ff;

// 边框色
@borderColor: #e4e7ed;

// 侧栏背景
@asideBgColor: #001529;

// 组件/浮层圆角
@borderRadius: 4px;

// 浮层阴影
@boxShadow: 0 2px 8px rgba(0, 0, 0, 0.15);

// 模块之间距离
@moduleMargin: 10px;
@modulePadding: 10px;
