// 主文本色
@textColor: rgba(0, 0, 0, 0.65);

// 文本大小
@textSize: 14px;

// 主要色
@primaryColor: #bb0a30;

// 边框色
@borderColor: #d9d9d9;

// 侧栏背景
@asideBgColor: #333;

// 组件/浮层圆角
@borderRadius: 4px;

// 浮层阴影
@boxShadow: 0 2px 8px rgba(0, 0, 0, 0.15);

// 模块之间距离
@moduleMargin: 10px;
@modulePadding: 10px;
