/*
 * @Author: 焦质晔
 * @Date: 2020-03-08 18:35:37
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-04-23 14:48:35
 */
// Spin Size
$spin-dot-size-sm: 14px;
$spin-dot-size: 20px;
$spin-dot-size-lg: 32px;

.v-spin {
  box-sizing: border-box;
  position: absolute;
  display: none;
  color: $primaryColor;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);

  &-spinning {
    position: static;
    display: inline-block;
    opacity: 1;
  }

  &-nested-loading {
    position: relative;
    > div > .v-spin {
      position: absolute;
      z-index: 4;
      display: block;
      width: 100%;
      height: 100%;
      max-height: 400px;
      .v-spin-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -$spin-dot-size / 2;
      }
      .v-spin-text {
        position: absolute;
        top: 50%;
        width: 100%;
        padding-top: 5px;
        text-shadow: 0 1px 2px #fff;
      }
      &.v-spin-show-text .v-spin-dot {
        margin-top: -$spin-dot-size / 2 - 10px;
      }
    }

    > div > .v-spin-sm {
      .v-spin-dot {
        margin: -$spin-dot-size-sm / 2;
      }
      .v-spin-text {
        padding-top: 2px;
      }
      &.v-spin-show-text .v-spin-dot {
        margin-top: -$spin-dot-size-sm / 2 - 10px;
      }
    }

    > div > .v-spin-lg {
      .v-spin-dot {
        margin: -$spin-dot-size-lg / 2;
      }
      .v-spin-text {
        padding-top: 8px;
      }
      &.v-spin-show-text .v-spin-dot {
        margin-top: -$spin-dot-size-lg / 2 - 10px;
      }
    }
  }

  &-container {
    position: relative;
    transition: opacity 0.3s;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0;
      transition: all 0.3s;
      pointer-events: none;
    }
  }

  &-blur {
    clear: both;
    overflow: hidden;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;

    &::after {
      opacity: 0.4;
      pointer-events: auto;
    }
  }

  // tip
  // ------------------------------
  &-tip {
    color: $primaryColor;
  }

  // dots
  // ------------------------------

  &-dot {
    position: relative;
    display: inline-block;

    width: $spin-dot-size;
    height: $spin-dot-size;

    i {
      position: absolute;
      display: block;
      width: 9px;
      height: 9px;
      background-color: $primaryColor;
      border-radius: 100%;
      transform: scale(0.75);
      transform-origin: 50% 50%;
      opacity: 0.3;
      animation: antSpinMove 1s infinite linear alternate;
      &:nth-child(1) {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        top: 0;
        right: 0;
        animation-delay: 0.4s;
      }
      &:nth-child(3) {
        right: 0;
        bottom: 0;
        animation-delay: 0.8s;
      }
      &:nth-child(4) {
        bottom: 0;
        left: 0;
        animation-delay: 1.2s;
      }
    }

    &-spin {
      transform: rotate(45deg);
      animation: antRotate 1.2s infinite linear;
    }
  }

  // Sizes
  // ------------------------------

  // small
  &-sm &-dot {
    width: $spin-dot-size-sm;
    height: $spin-dot-size-sm;

    i {
      width: 6px;
      height: 6px;
    }
  }

  // large
  &-lg &-dot {
    width: $spin-dot-size-lg;
    height: $spin-dot-size-lg;

    i {
      width: 14px;
      height: 14px;
    }
  }

  &-show-text &-text {
    padding-top: 5px;
    display: block;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ */
  v-spin-blur {
    background: #fff;
    opacity: 0.5;
  }
}

@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}

@keyframes antRotate {
  to {
    transform: rotate(405deg);
  }
}
