/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:13:54
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-03-23 21:57:58
 */
.v-cell--edit {
  .el-input__inner {
    padding: 0 $v-module-distance;
    font-size: 14px;
  }
  .el-date-editor {
    width: 100%;
    .el-input__inner {
      padding-left: 30px;
    }
  }
}
