/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:02:54
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-03-20 11:21:30
 */
%boxSizing {
  box-sizing: border-box;
}

[class*='v-'] {
  @extend %boxSizing;
  *:after,
  *:before {
    @extend %boxSizing;
  }
}

body {
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
}

.clearfix::after {
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.clearfix {
  zoom: 1;
}
