/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:02:54
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-03-05 23:24:29
 */
%boxSizing {
  box-sizing: border-box;
}

[class*='v-'] {
  @extend %boxSizing;
  *:after,
  *:before {
    @extend %boxSizing;
  }
}

body {
  margin: 0;
  line-height: 1.5;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
}
