/*
 * @Author: 焦质晔
 * @Date: 2020-03-26 11:45:02
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-03-26 18:43:01
 */
.v-print--wrapper {
  margin-left: $v-module-distance;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: $v-primary-color;
  }
}
