/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 21:58:58
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-03-06 00:14:06
 */
/*font-family*/
$v-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol;
$v-font-color: rgba(0, 0, 0, 0.65);
$v-font-size: 14px;
$v-font-size-medium: 14px;
$v-font-size-small: 13px;
$v-font-size-mini: 12px;

/*icon*/
$v-icon-font-family: Verdana, Arial, Tahoma;

/*primary color*/
$v-primary-color: #2d8cf0;
$v-disabled-color: #b1b1b1;

/*table color*/
$v-table-header-background-color: #f8f8f8;
$v-table-border-color: #e8e8e8;
$v-table-resizable-color: #d9d9d9;
$v-table-background-color: #ffffff;
$v-table-footer-background-color: #f8f8f8;

/*table row*/
$v-table-row-height-default: 48px;
$v-table-row-height-medium: 44px;
$v-table-row-height-small: 40px;
$v-table-row-height-mini: 36px;
$v-table-row-line-height: 24px;
$v-table-row-hover-background-color: #f5f7fa;
$v-table-row-striped-background-color: #fafafa;
$v-table-row-hover-striped-background-color: #f5f7fa;
$v-table-row-cheched-background-color: #fff3e0;
$v-table-row-hover-cheched-background-color: #ffebbc;
$v-table-row-current-background-color: #e6f7ff;
$v-table-row-hover-current-background-color: #d7effb;

/*table column*/
$v-table-column-hover-background-color: #d7effb;
$v-table-column-current-background-color: #e6f7ff;

/*table checked*/
$v-table-column-checked-border-width: 2px;
$v-table-header-column-checked-border-color: #cccfd6;
$v-table-body-seq-column-checked-border-color: $v-table-header-column-checked-border-color;
$v-table-body-column-checked-border-color: #d4d4d4;
$v-table-column-header-checked-background-color: #dcdcdc;
$v-table-column-body-seq-checked-background-color: $v-table-column-header-checked-background-color;
$v-table-column-checked-background-color: #e6f7ff;
